################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Backend/FileContentIndex
/.vs/Backend/v17
*.json
/.vs
